[submodule "extern/godot-headers"]
	path = extern/godot-headers
	url = git@github.com:godotengine/godot-headers.git
	branch = 3.3

[submodule "extern/katerm"]
	path = extern/katerm
	url = git@github.com:dextercd/katerm.git
